/* color palette from <https://github.com/vuejs/theme> */
:root {
  --pink: #ff6699;
  --text2: #61666d;
  --text1: #9499a0;
  --icon: #9499a0;
  --link: #007fff;
}

// 滚动条
*::-webkit-scrollbar {
  width: 8px;
  // 高度写不写，都不影响，因为会根据内容的长度自动计算
}

::-webkit-scrollbar-thumb:hover {
  background: #a6caaf; // 鼠标移入滑块变红
}

*::-webkit-scrollbar-thumb {
  background: #ccc; // 滑块颜色
  border-radius: 15px; // 滑块圆角
}

// 兼容Firefox、IE
* {
  scrollbar-width: 10px;
  scrollbar-base-color: green;
  scrollbar-track-color: red;
  scrollbar-arrow-color: blue;
}

.a-link {
  text-decoration: none;
  color: var(--link);
  cursor: pointer;
}
// 解决el-button失去焦点方法
.el-button:focus {
  border-color: var(--el-button-border-color) !important;
  color: var(--el-button-text-color) !important;
  background: var(--el-button-bg-color) !important;
}
.el-form-item {
  align-items: center;
}
